# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [1]:
# install missing library
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in c:\software\anaconda\lib\site-packages (3.12.1)
Requirement already satisfied: dnspython in c:\software\anaconda\lib\site-packages (2.1.0)

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [2]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [3]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################


client = pymongo.MongoClient("mongodb+srv://admin:admin@daps2021.ckixc.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")



#########

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [4]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1635411232, 2),
                  'signature': {'hash': b'\xcd)g \xb4\xd9\xbd\x16'
                                        b'\x8f\x0c\xbe\x15\xbb<\t\xcf'
                                        b'\x1c\xce\x06\x96',
                                'keyId': 6968822331703558145}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '65acfa15a9334a2fef071a106ccab4f5c565bca3',
                  'version': '20211005.0.0.1633092820'},
 'connections': {'available': 483, 'current': 17, 'totalCreated': 31},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'daps2021-shard-00-01.ckixc.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 10, 28, 8, 53, 52, 823000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 8170}}},
 'network': {'bytesIn': 319194110, 'bytesOut': 1319680, 'numRequests': 688},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 559050078, 'ops': 238},
                 'reads': {'latency': 30582, 'ops': 7},
                 'writes': {'latency': 383384306, 'ops': 438}},
 'opcounters': {'command': 247,
                'delete': 0,
                'getmore': 0,
                'insert': 424057,
                'query': 2,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1635411232, 2),
 'pid': 317589,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000044'),
          'hosts': ['daps2021-shard-00-00.ckixc.mongodb.net:27017',
                    'daps2021-shard-00-01.ckixc.mongodb.net:27017',
                    'daps2021-shard-00-02.ckixc.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 10, 28, 8, 53, 52),
                        'majorityOpTime': {'t': 68,
                                           'ts': Timestamp(1635411232, 2)},
                        'majorityWriteDate': datetime.datetime(2021, 10, 28, 8, 53, 52),
                        'opTime': {'t': 68, 'ts': Timestamp(1635411232, 2)}},
          'me': 'daps2021-shard-00-01.ckixc.mongodb.net:27017',
          'primary': 'daps2021-shard-00-01.ckixc.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-uoe35i-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('616ecdd5ab301e5068d65b2f')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1635411214, 3),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 759627.0,
 'uptimeEstimate': 759627,
 'uptimeMillis': 759627249,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [5]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Paul Baker', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}, {'name': 'Mike Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Andrew Palmer', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Anna Adams', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Mike Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Anna Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Paul Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Mike Adams', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Maria Adams', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Anna Adams', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Alex Palmer', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Natalia Baker', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Maria Armstrong', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'George Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Alex Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Mike Adams', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Anna Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Alex Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Andrew Palmer', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Nick Palmer', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Mike Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Nick Turner', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'George Roberts', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Natalia Turner', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [6]:
# Create a database object called “students”
db = client.students

In [7]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################
for member in student:
    db.student.insert_one(member)
### TO DO



#########

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [8]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO
x = db.student.find_one({"DAPS_assignment":5})

print(x)




#########

{'_id': ObjectId('617a65269e3d629e129fa6f2'), 'name': 'Anna Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [9]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO
for x in db.student.find({"$or":[ {"DAPS_assignment":3}, {"DAPS_assignment":8}]}):
    print(x)


#########

{'_id': ObjectId('617a65269e3d629e129fa6f3'), 'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6f5'), 'name': 'Paul Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6fa'), 'name': 'Alex Palmer', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65279e3d629e129fa6fd'), 'name': 'Alex Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa702'), 'name': 'Alex Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa703'), 'name': 'Andrew Palmer', 'DAPS_assignment': 3, 'reviewer': 'Laura'}

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [10]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#


### TO DO
###########################
myquery = {"DAPS_assignment": 4}
newvalues = { "$set": { "DAPS_assignment": 5 } }

x = db.student.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

#########

2 documents updated.

In [11]:
for x in db.student.find():
    print(x)

{'_id': ObjectId('617a65259e3d629e129fa6ed'), 'name': 'Paul Baker', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6ee'), 'name': 'Mike Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6ef'), 'name': 'Andrew Palmer', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65269e3d629e129fa6f0'), 'name': 'Anna Adams', 'DAPS_assignment': 9, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65269e3d629e129fa6f1'), 'name': 'Mike Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6f2'), 'name': 'Anna Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6f3'), 'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6f4'), 'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65269e3d629e129fa6f5'), 'name': 'Paul Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6f6'), 'name': 'Mike Adams', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65269e3d629e129fa6f7'), 'name': 'Maria Adams', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6f8'), 'name': 'Anna Adams', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65269e3d629e129fa6f9'), 'name': 'Andrew Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65269e3d629e129fa6fa'), 'name': 'Alex Palmer', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65279e3d629e129fa6fb'), 'name': 'Natalia Baker', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa6fc'), 'name': 'Maria Armstrong', 'DAPS_assignment': 9, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa6fd'), 'name': 'Alex Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa6fe'), 'name': 'George Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65279e3d629e129fa6ff'), 'name': 'Alex Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65279e3d629e129fa700'), 'name': 'Mike Adams', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65279e3d629e129fa701'), 'name': 'Anna Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa702'), 'name': 'Alex Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa703'), 'name': 'Andrew Palmer', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa704'), 'name': 'Nick Palmer', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa705'), 'name': 'Mike Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65279e3d629e129fa706'), 'name': 'Ellie Palmer', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65279e3d629e129fa707'), 'name': 'Nick Turner', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('617a65279e3d629e129fa708'), 'name': 'George Roberts', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('617a65279e3d629e129fa709'), 'name': 'Natalia Turner', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [12]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO

myquery = { "reviewer": "Laura" }

x = db.student.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

#########

13  documents deleted.

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap